/* download page section */

table.dl-table {
  width: 100%;
  display: inline-table !important;
}

table.dl-table th, table.dl-table td {
    border: none !important;
    padding: 1.5rem 0;
}

table.dl-table tr {
  border: solid 1px #e5e5e5;
  border-left: 0;
  border-right: 0;
}

table.dl-table td {
  padding-left: 1rem;
}

@media screen and (max-width: 43em) {
  table.dl-table td {
    display: block;
    text-align: center;
  }
}

a.dl-link {
  border-style: solid;
  border-color: #2f7bd9;
  border-width: 0.5rem 1rem;;
  border-radius: 0.5rem;
  text-decoration: none;
  background-color: #2f7bd9;
  color: rgba(255, 255, 255, 0.8);
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

a.dl-link:hover {
  border-color: #2fa9d9;
  background-color: #2fa9d9;
  color: rgba(255, 255, 255, 1);
}

/* download page end section */

/* wiki-nav section */

aside.wiki-nav {
  display: inline;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  float: left;
  margin: 2rem 2rem 2rem 4rem;
  padding: 1rem 0rem;
  max-width: 15rem;
  min-width: 10rem;
}

@media screen and (min-width: 43em) and (max-width: 64em) {
  aside.wiki-nav {
    margin-left: 0.5rem;
  }
}

@media screen and (max-width: 43em) {
  aside.wiki-nav {
    float: none;
    display: block;
    align: center;
    margin: 2rem auto;
    width: auto;
  }
}

aside.wiki-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

aside.wiki-nav li {
  border-left: 5px solid rgba(255, 255, 255, 0);
  transition: border-color 0.2s;
  margin: 0.5rem 1rem;
}

aside.wiki-nav li:hover {
  border-left: 5px solid #2fa9d9;
}

aside.wiki-nav .active {
  border-left: 5px solid #2f7bd9;
}

aside.wiki-nav a {
  padding-left: 2rem;
  padding: 0.5rem 1rem;
  width: 100%;
}

aside.wiki-nav a:hover {
  text-decoration: none;
}

/* wiki-nav end section */

/* copyleft section */

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}

/* copyleft end section */
