
<a data-fancybox="screenshots" data-caption="Home | v10.1.0" href="{{ site.baseurl }}/img/screenshot_01.png" class="button button-primary full-width">Screenshots</a>
<a data-fancybox="screenshots" data-caption="Home with left side | v10.1.0" href="{{ site.baseurl }}/img/screenshot_02.png"></a>
<a data-fancybox="screenshots" data-caption="Play queue | v10.1.0" href="{{ site.baseurl }}/img/screenshot_03.png"></a>
<a data-fancybox="screenshots" data-caption="Album | v10.1.0" href="{{ site.baseurl }}/img/screenshot_04.png"></a>
<a data-fancybox="screenshots" data-caption="More | v10.1.0" href="{{ site.baseurl }}/img/screenshot_05.png"></a>
