<br>

<h5>Navigation</h5>

<nav class="docs-nav">
  {% if site.data.docs-nav[0] %}
    <ul>
      {% for item in site.data.docs-nav %}
        <li>
          <a href="{{ item.href }}" {% if page.url == item.href %}class="active"{% endif %}>{{ item.title }}{% if item.subcategories[0] %}<i class="fa fa-angle-double-down fa-fw"></i>{% endif %}</a>
          {% if item.subcategories[0] %}
            <ul>
              {% for item in item.subcategories %}
                <li>
                  <a href="{{ item.href }}" {% if page.url == item.href %}class="active"{% endif %}>{{ item.title }}{% if item.subcategories[0] %}<i class="fa fa-angle-down fa-fw"></i>{% endif %}</a>
                  {% if item.subcategories[0] %}
                    <ul>
                      {% for item in item.subcategories %}
                        <li>
                          <a href="{{ item.href }}" {% if page.url == item.href %}class="active"{% endif %}>{{ item.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</nav>
