<h5>Navigation</h5>

<nav>
    {% if site.data.docs-nav != null %}
        <ul class="navgoco">
            {% for item in site.data.docs-nav %}
                <li>
                    {% if item.subcategories == null %}
                        <a href="{{ item.href }}" {% if page.url == item.href %}class="active"{% endif %}>{{ item.title }}</a>
                    {% else %}
                        <a href="#">{{ item.title }}</a>
                        <ul class="level-two">
                            {% for item in item.subcategories %}
                                <li>
                                    {% if item.subcategories == null %}
                                        <a href="{{ item.href }}" {% if page.url == item.href %}class="active"{% endif %}>{{ item.title }}</a>
                                    {% else %}
                                        <a href="#">{{ item.title }}</a>
                                        <ul class="level-three">
                                            {% for item in item.subcategories %}
                                                <li>
                                                    <a href="{{ item.href }}" {% if page.url == item.href %}class="active"{% endif %}>{{ item.title }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</nav>

<!-- Navgoco set up -->
<script type="text/javascript">
	$(document).ready(function() {
		$('.navgoco').navgoco({
			  caretHtml: '<i class="fa fa-chevron-down"></i>',
			  accordion: true,
			  openClass: 'active',
			  save: false,
			  slide: {
				  duration: 400,
				  easing: 'swing'
			  }
		  });
	});
</script>

<!-- Open Navgoco section when using external links -->
<script>$("a.active").parents('li').toggleClass("active");</script>
