<table class="full-width">
  <tbody>
    <tr>
      <td><i class="fa fa-coffee fa-fw"></i> WAR version (all&nbsp;platforms)</td>
      <td><a href="{{ site.repo }}/download/v{{ site.stable_version }}/airsonic.war" class="button button-primary"><i class="fa fa-download fa-fw"></i> Download {{ site.stable_version }}</a></td>
      <td><a class="button" href="/docs/install/war/">Instructions</a></td>
    </tr>
    <tr>
      <td><i class="fa fa-archive fa-fw"></i> Stand-alone version (all&nbsp;platforms)</td>
      <td><a href="{{ site.repo }}/download/v{{ site.stable_version }}/airsonic.war" class="button button-primary"><i class="fa fa-download fa-fw"></i> Download {{ site.stable_version }}</a></td>
      <td><a class="button" href="/docs/install/war-standalone/">Instructions</a></td>
    </tr>

{% comment %} Build targets not suported yet

    <tr>
      <td><i class="fa fa-linux fa-fw"></i> Debian / Ubuntu</td>
      <td><a href="{{ site.repo }}/download/v{{ site.stable_version }}/airsonic.deb" class="button button-primary"><i class="fa fa-download fa-fw"></i> Download {{ site.stable_version }}</a></td>
      <td><a class="button" href="/docs/install/deb/">Instructions</a></td>
    </tr>
    <tr>
      <td><i class="fa fa-linux fa-fw"></i> Red Hat / Fedora</td>
      <td><a href="{{ site.repo }}/download/v{{ site.stable_version }}/airsonic.rpm" class="button button-primary"><i class="fa fa-download fa-fw"></i> Download {{ site.stable_version }}</a></td>
      <td><a class="button" href="/docs/install/rpm/">Instructions</a></td>
    </tr>
    <tr>
      <td><i class="fa fa-windows fa-fw"></i> Windows</td>
      <td><a href="{{ site.repo }}/download/v{{ site.stable_version }}/airsonic.exe" class="button button-primary"><i class="fa fa-download fa-fw"></i> Download {{ site.stable_version }}</a></td>
      <td><a class="button" href="/docs/install/exe/">Instructions</a></td>
    </tr>
    <tr>
      <td><i class="fa fa-apple fa-fw"></i> MacOS</td>
      <td><a href="{{ site.repo }}/download/v{{ site.stable_version }}/airsonic.pkg" class="button button-primary"><i class="fa fa-download fa-fw"></i> Download {{ site.stable_version }}</a></td>
      <td><a class="button" href="/docs/install/pkg/">Instructions</a></td>
    </tr>

{% endcomment %}

    <tr>
      <td><i class="fa fa-code fa-fw"></i> Source code</td>
      <td><a href="https://github.com/airsonic/airsonic/archive/v{{ site.stable_version }}.zip" class="button button-primary"><i class="fa fa-download fa-fw"></i> Download {{ site.stable_version }}</a></td>
      <td><a class="button" href="/docs/install/source/">Instructions</a></td>
    </tr>
  </tbody>
</table>
