<table class="full-width">
  <tbody>
    <tr>
      <td><i class="fa fa-coffee fa-fw"></i> Tomcat <strong>WAR</strong> (all&nbsp;platforms)</td>
      <td><a href="{{ site.repo }}/download/v{{ site.stable_version }}/airsonic.war" class="button button-primary"><i class="fa fa-download fa-fw"></i> Download {{ site.stable_version }}</a></td>
      <td><a class="button" href="/docs/install/war/">Instructions</a></td>
    </tr>
    <tr>
      <td><i class="fa fa-archive fa-fw"></i> Stand-alone <strong>WAR</strong> (all&nbsp;platforms)</td>
      <td><a href="{{ site.repo }}/download/v{{ site.stable_version }}/airsonic.war" class="button button-primary"><i class="fa fa-download fa-fw"></i> Download {{ site.stable_version }}</a></td>
      <td><a class="button" href="/docs/install/war-standalone/">Instructions</a></td>
    </tr>
    <tr>
      <td><i class="fa fa-code fa-fw"></i> Source code</td>
      <td><a href="https://github.com/airsonic/airsonic/archive/v{{ site.stable_version }}.zip" class="button button-primary"><i class="fa fa-download fa-fw"></i> Download {{ site.stable_version }}</a></td>
      <td><a class="button" href="/docs/install/source/">Instructions</a></td>
    </tr>
    <tr>
      <td><i class="fa fa-docker fa-fw"></i> Docker</td>
      <td><a href="https://hub.docker.com/r/airsonic/airsonic/" target="_blank" class="button button-primary"><i class="fa fa-external-link fa-fw"></i> Docker repo</a></td>
      <td><a class="button" href="/docs/install/docker/">Instructions</a></td>
    </tr>
  </tbody>
</table>
