<footer id="footer">
  <span>{{ site.description }}</span>
  <p><i class="fa fa-copyright fa-flip-horizontal fa-fw"></i>2017 {{ site.title }}</p>
  <h6>
    <a href="{{ site.github_website_url }}"><i class="fa fa-github fa-fw"></i>Website github sources</a>
    <a href="mailto:{{ site.email }}"><i class="fa fa-envelope fa-fw"></i>Contact</a>
  </h6>
</footer>
<script type="text/javascript">
  // Add smoothscroll to #$links
  smoothScroll.init({
      speed: 600,
      offset: 80, // offset used because of sticky header
      easing: 'easeInOutCubic',
  });
</script>
