<head>
  <!-- meta -->
  <meta charset="utf-8">
  <title>{% if page.title != 'dummy' %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="identifier-url" content="{{ site.url }}" />
  <meta name="title" content="{{ site.title }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="abstract" content="{{ site.title }}" />
  <meta name="language" content="en" />
  <meta name="theme-color" content="#1a222c">
  <!-- og meta -->
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:image" content="/favicon-200x200.png">
  <meta property="og:description" content="{{ site.description }}">
  <!-- css/fonts -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.2/jquery.fancybox.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
  <!-- js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/14.2.1/smooth-scroll.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.2/jquery.fancybox.min.js" type="text/javascript" charset="utf-8"></script>

  <script src="{{ site.baseurl }}/js/jquery.navgoco.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ site.baseurl }}/js/toc.js" type="text/javascript" charset="utf-8"></script>

  <script type="text/javascript">
    // Add box-shadows to header after scrolldown
    $(window).scroll(function() {
      var scroll = $(window).scrollTop();
      if (scroll > 40) {
        $("#header").addClass("shadows");
      } else {
        $("#header").removeClass("shadows");
      }
    });
  </script>
  <script type="text/javascript">
    // Add scrolltop button after some scrolldown
    $(".scrolltop").hide();
    $(function() {
      $(window).scroll(function() {
        if ($(this).scrollTop() > 500) {
          $('#scrolltop').fadeIn(800);
        } else {
          $('#scrolltop').fadeOut(800);
        }
      });
    });
  </script>
</head>