<head>
    <!-- meta -->
    <meta charset="UTF-8">
    <title>{% if page.title != 'dummy' %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#2f7bd9">
    <meta name="robots" content="none">
    <!-- css/fonts -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
    <!-- js -->
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/smooth-scroll.min.js" type="text/javascript"></script>
    <script src="/js/toc.js" type="text/javascript"></script>
    <script src="/js/jquery.navgoco.min.js" type="text/javascript"></script>
    <script src="/js/jquery.fancybox.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        // Add box-shadows to header after scrolldown
        $(window).scroll(function() {
            var scroll = $(window).scrollTop();
            if (scroll > 0) {
                $("#header").addClass("shadows");
            }
            else {
                $("#header").removeClass("shadows");
            }
        });
    </script>
    <script type="text/javascript">
        // Add scrolltop button after some scrolldown
        $(".scrolltop").hide();
            $(function () {
                $(window).scroll(function () {
                if ($(this).scrollTop() > 500) {
                    $('#scrolltop').fadeIn(800);
                } else {
                    $('#scrolltop').fadeOut(800);
                }
            });
        });
    </script>
</head>
