<div id="header">
  <div class="wrap">
    <div class="title float-left">
        <a href="/">
            <img src="/img/libresonic_dark_1600x512.svg" alt="">
        </a>
    </div>
    <nav class="menu float-right">
      <ul>
        <li>
          <a href="/"
           {% if page.url == "/" %}class="active"{% endif %}>
         <i class="fa fa-home fa-fw"></i>&nbsp;Home</a>
        </li>
        <li>
          <a href="/download/"
          {% if page.url == "/download/" %}class="active"{% endif %}>
          <i class="fa fa-download fa-fw"></i>&nbsp;Download</a>
        </li>
        <li>
          <a href="/docs/"
          {% if page.url == "/docs/" or page.url contains "/docs/" %}class="active"{% endif %}>
          <i class="fa fa-book fa-fw"></i>&nbsp;Documentation</a>
        </li>
        <li>
          <a href="/contribute/"
          {% if page.url == "/contribute/" or page.url contains "/contribute/" %}class="active"{% endif %}>
          <i class="fa fa-pencil-square-o fa-fw"></i>&nbsp;Contribute</a>
        </li>
        <li>
          <a href="{{ site.demo_url }}">
          <i class="fa fa-cogs fa-fw"></i>&nbsp;Demo</a>
        </li>
        <li>
          <a href="{{ site.github_url }}">
          <i class="fa fa-github fa-fw"></i>&nbsp;GitHub</a>
        </li>
      </ul>
    </nav>
    <div style="clear: both"></div>
  </div>
</div>
