<div class="page-header">

  <h1 class="project-name">{{ site.title }}</h1>

  <a href="/"
  {% if page.url == "/" %}class="btn-active"{% else %}class="btn"{% endif %}>
  <i class="fa fa-home fa-fw"></i>&nbsp;Home</a>

  <a href="/download/"
  {% if page.url == "/download/" %}class="btn-active"{% else %}class="btn"{% endif %}>
  <i class="fa fa-download fa-fw"></i>&nbsp;Download</a>

  <a href="/wiki/"
  {% if page.url == "/wiki/" or page.url contains "/wiki/" %}class="btn-active"{% else %}class="btn"{% endif %}>
  <i class="fa fa-book fa-fw"></i>&nbsp;Wiki</a>

<!--
  <a href="{{ site.demo_url }}" class="btn">
  <i class="fa fa-cogs fa-fw"></i>&nbsp;Demo</a>
-->

  <a href="/contribute/"
  {% if page.url == "/contribute/" or page.url contains "/contribute/" %}class="btn-active"{% else %}class="btn"{% endif %}>
  <i class="fa fa-pencil-square-o fa-fw"></i>&nbsp;Contribute</a>

  <a href="{{ site.github_url }}"
  class="btn">
  <i class="fa fa-github fa-fw"></i>&nbsp;View on GitHub</a>

</div>
