.navbar
  border-bottom-color: #1a222c !important

.dropdown-title
  background-color: transparent !important
  color: #eaecef !important

@media only screen and (max-width: $MQMobile)
  .dropdown-title
    color: #1a222c !important;

.dropdown-item
  color: #1a222c !important

.navbar,
.navbar .links
  background-color: #1a222c !important
  color: #eaecef !important

  .logo
    height: 3rem !important
    margin-top: -8px

  a:hover,
  a.router-link-active
    color: inherit

  .site-name
    display: none


.search-box input
  border-radius: 4px !important
