<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container">
      <div class="row">
        <div id="docs-nav-column" class="three columns">

          {% include docs-nav.html %}

        </div>
        <div id="docs-content-column" class="nine columns">

          <h2>{{ page.title }}</h2>

          {% include toc.html %}

          {{ content }}

          <script type="text/javascript">
            // init toc after docs content load
            $(document).ready(function() {
              $('#toc').toc();
            });
          </script>
        </div>
      </div>
    </div>
    <a data-scroll id="scrolltop" href="#"><i class="fa fa-chevron-up fa-fw"></i></a>

    {% include footer.html %}

  </body>
</html>
