<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>
    <span id="top"></span>

    {% include header.html %}

    <div class="container">
      <div class="row">
        <div class="three columns docs-nav-column">

          {% include docs-nav.html %}

        </div>
        <div class="nine columns docs-content-column">

          <h2>{{ page.title }}</h2>

          {% include toc.html %}

          {{ content }}

          <script type="text/javascript">
            // init toc after docs content load
            $(document).ready(function() {
              $('#toc').toc();
            });
          </script>
        </div>
      </div>
    </div>
    <a data-scroll class="scrolltop" href="#top"><i class="fa fa-chevron-up fa-fw"></i></a>

    {% include footer.html %}

  </body>
</html>
